/*Este CSS contém atributos comuns a todas as páginas.*/
@import url(style/footer.css);
@import url(style/header.css);
@import url(style/cart.css);


body {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    max-height: 100%;

    background-color: #E7FAFE;
    font-family: 'Bellota Text', cursive;
}


/*===========Mostra Categoria=============*/
.main-dishes-area{
    display: flex;
    flex-flow: column;
    width: 60%;
}

.category-wrapper{
    display: flex;
    gap: 2em;
    margin-top: 1em;
}

.name-background{
    display: block;
    background: linear-gradient(90deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    padding: 0.4em;

    position: relative;
    bottom: 1em;
}

.category-name{
    font-size: 1.1em;
    color: #e5e5e5;
}

/*==============Mostra Prato===================*/

/*Vamos usar as classe padrão do woocommerce + seletores para a pagina de produto*/

.shop-container{
    width: 60%;
}

.search-filters-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 0.2em;
    margin: 0.3em 0;
}

#woocommerce-product-search-field-1{
    width: 35ch;
    border: none;
    border-radius: none;
    background: none;

    color:#6A066D;
    border-bottom: 2px solid #6A066D;
}

.orderby{
    width: 35ch;
    border: none;
    border-radius: none;
    background: none;

    color:#6A066D;
    border-bottom: 2px solid #6A066D;
}

.search-filters-wrapper button{
    display: none;
}
.dish-image, .product-wrapper{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 13em;
    height: 17em;
    max-height: auto;

    
    margin-top: 0.5em;
}

.dish-info-background, .product-wrapper  .woocommerce-LoopProduct-link{
    display: flex;
    background: linear-gradient(90deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    padding: 0.3em;
    width: 100%;
    height: 25%;
}

.container-dish-info, .product-wrapper  .woocommerce-LoopProduct-link{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-wrap: wrap;

    color: #e5e5e5;
}

.dish-name{
    font-size: 0.75em;
}

.dish-button{
    position: relative;
    display: block;
    align-self: flex-end;
    max-width: 2em;
    max-height: 2em;

    left: 2%;
}

.options-button{
    border: none;
    border-radius: none;
    box-shadow: none;

    background-color: #F5C661;
    color: #333;

    font-weight: bold;
    font-family: 'Roboto';
    font-size: 1em;

    margin: 2em;
    padding: 1em 3em;
}

/*=========Página de contas==========*/
.woocommerce-MyAccount-navigation{
    display: flex;
    background-color: #F5C661;
}

.woocommerce-MyAccount-navigation > ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.5em;

}

.woocommerce-MyAccount-content{
    padding: 2em 5em;
}

.woocommerce-MyAccount-content > p{
    font-size: 1.2em;
    margin: 1em 0;
}

.woocommerce-EditAccountForm{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
} 

.edit-form-name-area{
    display: flex;
    gap: 10%;
}

.form-row-first, .form-row-last{
    width: 50%;
}

.woocommerce-form-row{
    display: flex;
    flex-flow: column;
}

.woocommerce-MyAccount-content label{
    font-size: 1.3em;
}

.woocommerce-MyAccount-content input{
    margin: 0.8em 0;
    height: 1.3em;

    background: none;
    border: none;
    border-radius: 0;

    border-bottom: solid 2px #6A066D;
}

.woocommerce-Button{
    position: relative;
    left: 45%;

    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;

    background-color: #6A066D;
    color: #fff;

    font-size: 1.3em;
    font-family: 'Bellota Text';

    padding: 0.5em 3em;
    margin-top: 0.8em;
}
/*======Areas do Woocommerce===========*/

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    
}

.content-area{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    
}

#main.site-main{
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
}