.header-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.2em;

    background-color: #7A247D;
    color: #F5C661;
}

.left-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2em;
}

.right-container > a{
    margin: 0.5em;
}

.wrapper-searchbox{
    margin-left: 3em;
    border-bottom: 2px solid #F5C661;

    width: auto;
}

.wrapper-searchbox > .woocommerce-product-search{
    display: flex;
    flex-flow: row-reverse;
}
#woocommerce-product-search-field-0.search-field{
    background: none;
    border: none;
    border-radius: none;
    color: #F5C661;
}

.woocommerce-product-search > button {
    color: rgb(0,0,0, 0);/*Retira o texto o botão para botarmos a imagem*/
    background: none;
    border: none;
    border-radius: none;
    box-shadow: none;

    background-image: url(../img/VectorSearch.png);
    max-width: fit-content;
    max-height: fit-content;
    background-repeat: no-repeat;
    overflow: hidden;
}

.right-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-container > a{
    margin: 0.5em;
}

.make-order-button{
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    background-color: #F5C661;
    padding: 1em 2em;
    font-weight: bold;
}

.cart-button{
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}
/*=====================Carrinho=========*/

.cart-menu{
    position: absolute;
    display: none;
    z-index: 9999;

    width: 100%;
    height: 100%;
}

.close-cart{
    background: none;
    box-shadow: 0;
    border-radius: 0;
    border: 0;
    width: 80%;
    height: 100%;

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.cart-container{
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    background-color: #F5C661;

    width: 20%;
    height: 100%;
    padding: 2em;
}

.cart-container > h1{
    font-size: 1.5em;
    color: #7A247D;

    margin: 0.5em 0 0.4em 0;
    padding-bottom: 0.2em;

    border-bottom: solid 2px #7A247D;
    width: 100%;
}

.cart-contents{
    margin: 1em 0 2em 0;
    width: 100%;
}

.cart-item{
    display: flex;

    width: 100%;
    height: 7em;

    margin-bottom: 0.7em;

    background-color: #E7FAFE;
}

.cart-item-thumbnail{
    width: 30%;
    height: 100%;
}

.cart-item-info{
    display: flex;
    flex-wrap: wrap;

    padding: 0.5em;

    justify-content: space-between;
}

.cart-item-info > h3{
    font-size: 1.2em;
    width: 100%;
}

.cart-item-info > p{
    height: auto;
}

.quantity{
    height: auto;
}

.cart-container > p{
    width: 100%;
    padding-top: 0.4em;
    border-top: solid 2px #7A247D;
}

.buy-button{
    align-self: center;
    margin-top: 2em;

    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;

    background-color: #7A247D;
    color: #fff;

    font-size: 1.3em;
    font-family: 'Bellota Text';
    width: 60%;
}