.woocommerce-product-gallery__wrapper, .woocommerce-product-gallery__image, 
.woocommerce-product-gallery__image > a, .woocommerce-product-gallery{
    display: flex;
    max-height: 15em;
    max-width: 25em;
}

.site-main{
    padding: 2em;
    align-self: center;
    width: 60%;
    height: auto;
}

.site-main > .product{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.summary{
    display: flex;
    flex-flow: column;

    gap: 1em;
}

.product_title{
    font-size: 1.5em;

    order: 1;
}

.product-description{
    order:2;
}

.summary .price{
    order: 4;

    font-size: 1.5em;
    align-self: flex-end;
}

.variations_form{
    order: 3;
    display: flex;
}

.quantity{
    order: 1;
}

.variations{
    order: 2;
    display: flex;
    flex-flow: row-reverse;
}

.variations .label{
    color: rgb(0,0,0,0);
}

.variations select{
    width: 30ch;
    
    border: none;
    background: none;

    border-bottom: solid 2px #7A247D;
}

.single_add_to_cart_button{
    position: relative;
    border: none;
}

.related{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.related > h2{
    margin-top: 1em;
    font-size: 1.4em;
}