/*=================Título============================*/
.title-area{
    background-color: #7A247D;
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

    gap: 2em;
    padding: 3em;
}

.title-text{
    color: #F5C661;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-area > p{
    color: #fff;
}

/*=================Categorias============================*/
/*Inclue a seção geral dos pratos*/
.dishes-area{
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    align-items: center;
}

.dishes-area > h2{
    margin: 1.5em;
    font-size: 1.5em;
}


/*=================Pratos da Semana============================*/

.day-dish-area{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 60%;
    height: auto;

    flex: wrap;
}

.container-day-dishes{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2em
}

/*=================Loja Física===============*/

.phys-store-area{
    display: flex;
    flex-flow: column;
    
    background-color: #7A247D;
    color: #e5e5e5;

    padding: 2em;
}

.phys-store-area > h2 {
    font-size: 1.5em;
    align-self: center;
    margin-bottom: 1em;
}

.items-wrapper{
    display: flex;
    justify-content: space-around;
}

.container-contact{
    display: flex;
    flex-flow: column;
    gap: 1em;
}